# Ignore everything


# Allow .cpp and .hpp files
!*.cpp
!*.hpp

# Allow directories (otherwise .cpp/.hpp files in subdirectories would be ignored)
!*/
# Allow directories (otherwise .cpp/.hpp files in subdirectories would be ignored)

# Ignore .vs folder
.vs/
